<!--<ion-view view-title="Playlist">-->
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Feature1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.single.tab1">
    <ion-nav-view name="tab-one"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Feature2" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.single.tab2">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Feature3" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="app.single.tab3">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>


</ion-tabs>
<!--</ion-view>-->
